@media only screen and (min-width:1281px) {
      .whatshare-mobile {
          display:none !important;
      }
      .whatshare-desktop {
          display:block !important;
      }
  }

@media only screen and (max-width: 1280px) {
    .whatshare-mobile {
        display:block !important;
    }
    .whatshare-desktop {
        display: none !important;
    }
}

.whatshare-mobile, .whatshare-desktop {
  background-color: #51a419;
  box-sizing: initial;
  color: #ffffff;
  display: ;
  font-family: ;
  font-weight: bold;
  padding: 7px;
  margin: 0px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: ;
  width: 30px;
  height: 28px;
  position: static;
  top: auto;
  left: auto;
  float: none;
}
.whatshare-mobile img, .whatshare-desktop img {
    height: ;
    max-height: 95%;
    width:  ;
    max-width:  95%;
    vertical-align:  middle;
}

 